

  body {
    background-image: url(../images/background.jpg);
    background-size: cover;
  }
  
  .container {
    /* display: flex; */
    justify-content: center;
    /* background-image: url(../images/papyrus.png);
    width: 667px;
    height: 429px;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  
  h2>img {
    height: 100px;
    width: 100px;
  }
  #help {
    border-radius: 10px;
    float: right;
  }
  
  .login {
    text-align: center;
  }
  
  .jumbotron {
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 400px;
    display: block;
  }